body{
  background-color: #222831;
}.top-search{
  margin-bottom: 20px;
}
.title{
  color: #08d9d6;
  font-weight: 700;
  font-size: 50px;
}
.box-style{
  height: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 90%;
  
}
.urlContainer{
  opacity:0;
  display: flex;
  align-items: center;
  position: absolute;
  align-items: center;
  text-align: center;
  height:40px;
  width: 280px;
  font-size: 12px;
  padding: 3px;
  background-color: #222831;
  border-radius: 4px;
  cursor: text;
  white-space: nowrap;
  box-shadow:inset 0 0 4px #000000;
  border-style: dashed 2px;
}
.urlContainer:hover{
  opacity: 1;
}
.urlText{
  
    box-sizing: content-box;
    overflow-y: hidden;
    overflow-x: hidden;
    color:white;
    font-weight: 700;
}
.imgBox{
  height:175px;
}
.hovered{
  
  
  background-color: #00adb5;
  height: 200px;
  cursor: pointer;
}